@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap'); /* Nunito */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{ /* Fraiche */
  font-family: 'Fraiche';
  src: url('../fonts/fraiche/fraiche.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-font: 'Fraiche', sans-serif; 
  --sub-font: 'Nunito', sans-serif;
}

/* styles that will be reused throughout the website. */

.fraiche {
  font-family: var(--main-font);
}

body {
  color: #191919;
  font-family: var(--sub-font);
}
